*.lock
*.log
*.jld
*.dat
*.txt
*.csv
*.out
*.tex
node_modules/
vscjlsymserv-*
Untitled.ipynb
config_bak.toml
config_tc.toml
*.pdf
bak*
fortran_out
.ipynb_checkpoints/
nohub.out
*bak*
*dbg*
Roots NLSolve_files
