*.lock
*.log

*.jld
*.jld2
*.h5
*.dat
*.txt
*.csv
*.gif
*.png
*.out
*.tex
*.txt

config_*

node_modules/
docs/build/
vscjlsymserv-*
Untitled.ipynb
config_bak.toml
config_tc.toml
*.pdf
bak*
fortran_out
.ipynb_checkpoints/
nohub.out
*bak*
*dbg*
Roots NLSolve_files
